/* CÓDIGO MÍO AGREGADO */

footer {
    background-color: white;
    color: #3a79f0;
  }

.col-ingreso-client{
  margin: auto;
  max-width: 400px;
}

.row {
  margin: auto;
  padding-top: 2%;
  width: auto;
}

/* INICIO HORIZNOTAL RULE O */

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: grey;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid grey;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

/* FIN HORIZNOTAL RULE O */