/* smartphone definition = 480px (moto g) - iphone 6 320px */
/* la mina lo que hace es poner los media queries al final de todo  */
/* como si fuesen otra sección, como los comunes, . y #. Al final @media */

/* INICIO TARGET POR: ELEMENTO */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

body {
  background-color: #067aff;
  color: white;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  text-align: center;
}
/* -webkit-appearance: none !important;
-moz-appearance: none;
appearance: none; */

/*#067aff #1582ff #1572fd #0084ff */

form {
  padding: 10px;
  margin: 0 0 60px 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 8vw;
  font-weight: bold;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 6vw;
}
@media screen and (min-width: 500px) {
  h3 {
    font-size: 28px;
  }
}

input {
  margin: 0 0 9px 0;
}
@media screen and (max-width: 600px) {
  input {
    margin: 0 0 9px 0;
  }
}

img[alt="iphone-mockup"] {
  width: 60%;
  max-width: 300px;
}

img[alt="profesionales-mockup"] {
  background-color: #067aff;
  width: 100%;
}

/* INICIO TARGET POR: CLASS */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


.card-deck {
  color: black;
}

/* .card_border {
  border-width: 3px;
  border-color: #3a79f0;
} */

.carousel-control-next-icon:after {
  content: "⏵";
  font-size: 30px;
  color: #3a79f0;
}

.carousel-control-prev-icon:after {
  content: "⏴";
  font-size: 30px;
  color: #3a79f0;
}

.carousel_testimonials {
  background-color: white;
  color: #3a79f0;
  padding: 40px 10px;
}

.features-box {
  padding: 5%;
}
@media screen and (min-width: 750px) {
  .features-box {
    padding: 1%;
  }
}
@media screen and (min-width: 750px) {
  .features-box {
    padding: 3%;
  }
}


.features_mas_buscados_title {
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0 0 30px 0;
}
@media screen and (min-width: 750px) {
  .features_mas_buscados_title {
    font-size: 2rem;
    margin: 50px 0 0 0;
  }
}

.features_buttons {
  width: 100%;
  height: 100%;
  border-color: white;
}

.features_ver_mas_button {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 750px) {
  .features_ver_mas_button {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

.form-control {
  height: 48px;
}
@media screen and (max-width: 600px) {
  .form-control {
    height: 48px;
  }
}

/* revisar si conviene usar min-width */
.form-row {
  background: #00000010;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  width: 80%;
  max-width: 800px;
}
/* el minimo que se recomienda usar es 320px*/
@media screen and (max-width: 600px) {
  .form-row {
    width: 100%;
  }
}
@media screen and (min-width: 1050px) {
  .form-row {
    background: #00000020;
    margin: 0 10px 0 50px;
    text-align: left;
  }
}

.h3_features-box {
  font-weight: bold;
}

.icons_features {
  margin-bottom: 1rem;
}
.icons_features:hover {
  color: lightskyblue;
}

.mas_buscados_container {
  background-color: white;
  color: #3a79f0;
}

.nav-item {
  text-align: left;
}

.navbar-brand {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

.landing_top {
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
}

.landing_top {
  background-image: url(../images/profesionales_2_1_10.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: contain;
}
@media screen and (min-width: 1050px) {
  .landing_top {
    background-image: url(../images/profesionales_3_2.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
    height: 650px;
  }
}
@media screen and (min-width: 750px) {
  .landing_top {
    height: 650px;
  }
}

.p_features-box {
  /* color: #3a79f0; */
  color: white;
}

.plan_pricing_h3 {
  font-size: 2rem;
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  font-style: normal;
  font-weight: 200;
  margin: 30px auto 20px auto;
}

.plan_pricing_p {
  font-style: normal;
  font-weight: 300;
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  margin: 0 auto 30px auto;
  max-width: 500px;
}

.press_logo {
  width: 15%;
  margin: 20px 20px 50px;
}
@media screen and (max-width: 600px) {
  .press_logo {
    width: 35%;
  }
}

.row_features_mas_buscados {
  max-width: 100%;
  margin: auto;
}

.subtitle_1 {
  margin: auto;
  opacity: 1;
  padding: 0px 50px 50px 50px;
}
@media screen and (max-width: 600px) {
  .subtitle_1 {
    margin: auto;
    padding: 0px 15px 15px 15px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1050px) {
  .subtitle_1 {
    margin: 0 10px 0 10px;
    text-align: left;
    width: 400px;
    /* text-shadow: black 1px 1px; */
  }
}

.testimonials_images {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
@media screen and (min-width: 600px) {
  .testimonials_images {
    width: 10%;
  }
}
@media screen and (min-width: 1000px) {
  .testimonials_images {
    width: 7%;
  }
}

.title_1 {
  max-width: 700px;
  margin: auto;
  padding: 50px 50px 30px 50px;
}
@media screen and (max-width: 500px) {
  .title_1 {
    font-size: 30px;
    margin: auto;
    padding: 80px 30px 25px 30px;
  }
}
@media screen and (min-width: 500px) {
  .title_1 {
    font-size: 30px;
    margin: auto;
    padding: 90px 60px 25px 60px;
  }
}
@media screen and (min-width: 600px) {
  .title_1 {
    font-size: 40px;
    margin: auto;
    padding: 100px 50px 25px 50px;
  }
}
@media screen and (min-width: 1050px) {
  .title_1 {
    margin: 0 10px 0 10px;
    text-align: left;
    width: 500px;
    /* text-shadow: black 1px 0.5px; */
  }
}

/* INICIO TARGET POR: ID */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

#android {
  color: white;
  margin: 0 5px 0 0;
}

#features {
  background-color: #067aff;
  color: white;
  padding: 7% 15%;
}

#features_mas_buscados {
  background-color: #067aff;
  color: white;
  padding: 1% 1%;
}

@media screen and (min-width: 400px) {
  #h1_title_2 {
    font-size: 35px;
  }
}

#h3_title_2 {
  margin: 30px 0 40px 0;
}

#ios {
  color: white;
  margin: 0 0 0 5px;
}

/* #card_precio_profesional {
  background-color: #e0a800;
  color: white;
} */

#press {
  padding-bottom: 3%;
  background-color: white;
}

#pricing {
  background-color: #067aff;
  color: white;
}

#row_1 {
  padding: 40px 0 100px 0;
}

#row_1_col_2 {
}

#testimonials {
  padding: 7% 15%;
  background-color: white;
}
@media screen and (max-width: 600px) {
  #testimonials {
    padding: 3% 5%;
  }
}

#title_2 {
  max-width: 500px;
  margin: auto;
  padding: 50px 20px 50px 50px;
}
@media screen and (max-width: 600px) {
  #title_2 {
    padding: 40px 15px 40px 15px;
  }
}

#row_1 {
  background-color: white;
  color: #067aff;
  margin: 0;
}

#row_2_col_2 {
  padding: 0;
}
