footer {
  color: #3a79f0;
}

.btn-buscar-navbar {
  border-radius: 100%;
  text-align: center;
}

/* .btn-geo-navbar {
  border-radius: 100%;
} */

@media screen and (max-width: 640px) {
  .nomobile {
  display: none;
  }
}
@media screen and (min-width: 641px) {
  .mobile {
  display: none;
  }
}

/* .navbar-form {
  width: 130px;
} */
