body {
  background-color: #067aff;
  color: white;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
}

/*#067aff #1582ff #1572fd #0084ff */

form {
  padding: 10px;
  margin: 0 0 60px 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 8vw;
  font-weight: bold;
}
/* max-font-size casero - con media queries - con esto limito el tamaño de texto */
@media screen and (min-width: 400px) {
  h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 550px) {
  h1 {
    text-align: justify;
  }
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 6vw;
}
@media screen and (min-width: 500px) {
  h3 {
    font-size: 28px;
  }
}

input {
  margin: 0 0 9px 0;
}
@media screen and (max-width: 600px) {
  input {
    margin: 0 0 9px 0;
  }
}

img[alt="iphone-mockup"] {
  width: 60%;
  max-width: 300px;
  text-align: center;
}

img[alt="profesionales-mockup"] {
  background-color: #067aff;
  width: 100%;
}

.form-control {
  height: 48px;
}
@media screen and (max-width: 600px) {
  .form-control {
    height: 48px;
  }
}

/* revisar si conviene usar min-width */
.form-row {
  background: #00000010;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  width: 80%;
  max-width: 800px;
}
/* el minimo que se recomienda usar es 320px*/
@media screen and (max-width: 600px) {
  .form-row {
    width: 100%;
  }
}
@media screen and (min-width: 1050px) {
  .form-row {
    background: #00000020;
    margin: 0 10px 0 50px;
    text-align: left;
  }
}

.nav-item {
  text-align: left;
}

.navbar-brand {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

.landing_top {
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
}

.landing_top {
  background-image: url(../images/profesionales_2_1_10.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: contain;
}
@media screen and (min-width: 1050px) {
  .landing_top {
    background-image: url(../images/profesionales_3_2.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
    height: 650px;
  }
}
@media screen and (min-width: 750px) {
  .landing_top {
    height: 650px;
  }
}

.subtitle_1 {
  margin: auto;
  opacity: 1;
  padding: 0px 50px 50px 50px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .subtitle_1 {
    margin: auto;
    padding: 0px 15px 15px 15px;
    text-align: center;
  }
}
@media screen and (min-width: 1050px) {
  .subtitle_1 {
    margin: 0 10px 0 10px;
    text-align: left;
    width: 400px;
    /* text-shadow: black 1px 1px; */
  }
}

.title_1 {
  max-width: 700px;
  margin: auto;
  padding: 50px 50px 30px 50px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .title_1 {
    margin: auto;
    padding: 15px 15px 7px 15px;
    text-align: center;
  }
}
@media screen and (min-width: 1050px) {
  .title_1 {
    margin: 0 10px 0 10px;
    text-align: left;
    width: 500px;
    /* text-shadow: black 1px 0.5px; */
  }
}

#android {
  color: white;
  margin: 0 5px 0 0;
}

#h3_title_2 {
  margin: 30px 0 40px 0;
}

#ios {
  color: white;
  margin: 0 0 0 5px;
}

#row_1 {
  padding: 40px 0 100px 0;
}

#row_1_col_2 {
  text-align: center;
}


#title_2 {
  max-width: 500px;
  margin: auto;
  padding: 50px 50px 50px 50px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  #title_2 {
    padding: 40px 15px 40px 15px;
  }
}

#row_1 {
  background-color: white;
  color: #067aff;
  margin: 0;
}

#row_2_col_2 {
  padding: 0;
}
