/* CÓDIGO MÍO AGREGADO */

.col-ingreso-pro{
  margin: auto;
  max-width: 400px;
}

.row {
  margin: auto;
  padding-top: 5%;
  width: auto;
}

footer {
    background-color: white;
    color: #3a79f0;
  }