footer {
  color: #3a79f0;
}

.btn-buscar-navbar {
  border-radius: 100%;
}

.btn-geo-navbar {
  border-radius: 100%;
}

.navbar {
  height: 60px;
}

@media screen and (max-width: 640px) {
  .nomobile {
  display: none;
  }
}
@media screen and (min-width: 641px) {
  .mobile {
  display: none;
  }
}
